{% set title = "Integer codes" %}

{% extends "../templates/page.html" %}

{% block main %}
  <p>
    Integer codes are methods of encoding natural numbers (i.e. 1, 2, 3, &hellip;)
    into binary strings (e.g. 2 &rarr; <code>0010</code>). Important property of
    integer codes is the ability to encode any sequence of natural numbers into a
    single binary string such that it can later be decoded unambiguously.
  </p>
  <ul class="codings">
    <li><a href="/integer-codes/unary">Unary coding</a></li>
    <li>
      <a href="/integer-codes/fixed-length-binary">Fixed-length binary</a>
    </li>
    <li>
      <a href="/integer-codes/variable-length-quantity"
        >Variable-length quantity</a
      >
    </li>
    <li><a href="/integer-codes/elias-gamma">Elias &gamma; coding</a></li>
    <li><a href="/integer-codes/elias-delta">Elias &delta; coding</a></li>
    <li><a href="/integer-codes/elias-omega">Elias &omega; coding</a></li>
    <li>
      <a href="/integer-codes/golomb-rice">Golomb&ndash;Rice coding</a>
    </li>
  </ul>
  <div class="inputs">
    <label>
      Integers:
      <input name="numbers" value="1,2,3" pattern="(\d+)(\s*,\s*\d+)*" />
    </label>
    <label>
      Bits:
      <input name="bits" value="" pattern="[01]+" />
    </label>
  </div>
  <div class="coding">
    <span>Parameters:</span>
    <div class="settings settings-unary">
      <label>
        <input type="checkbox" name="alternative" />
        Alternative
      </label>
    </div>
    <div class="settings settings-fixed-length-binary">
      <label>
        Bits per chunk:
        <input type="number" name="chunkSize" value="8" min="1" />
      </label>
    </div>
    <div class="settings settings-variable-length-quantity">
      <label>
        Bits per chunk:
        <input type="number" name="chunkSize" value="8" min="2" />
      </label>
    </div>
    <div class="settings settings-elias-gamma">
      <label>
        <input type="checkbox" name="alternative" />
        Alternative
      </label>
    </div>
    <div class="settings settings-elias-delta">
      <label>
        <input type="checkbox" name="alternative" />
        Alternative
      </label>
    </div>
    <div class="settings settings-golomb-rice">
      <label>
        M:
        <input type="number" name="M" value="10" min="1" />
      </label>
    </div>
    <div class="settings-error"></div>
  </div>
  <output></output>
  <article class="unary">
    <!-- <h2>Unary coding</h2> -->
    <!-- <p>Unary coding description here</p> -->
  </article>
  <article class="fixed-length-binary">
    <!-- <h2>Fixed&#45;length binary</h2> -->
    <!-- <p>Fixed&#45;length binary description here</p> -->
  </article>
  <article class="variable-length-quantity">
    <!-- <h2>Variable&#45;length quantity</h2> -->
    <!-- <p>Variable&#45;length description here</p> -->
  </article>
  <article class="elias-gamma">
    <!-- <h2>Elias &#38;gamma; coding</h2> -->
    <!-- <p>Elias &#38;gamma; coding description here</p> -->
  </article>
  <article class="elias-delta">
    <!-- <h2>Elias &#38;delta; coding</h2> -->
    <!-- <p>Elias &#38;delta; coding description here</p> -->
  </article>
  <article class="elias-omega">
    <!-- <h2>Elias &#38;omega; coding</h2> -->
    <!-- <p>Elias &#38;omega; coding description here</p> -->
  </article>
  <article class="golomb-rice">
    <!-- <h2>Golomb&#38;ndash;Rice coding</h2> -->
    <!-- <p>Golomb&#38;ndash;Rice coding description here</p> -->
  </article>
{% endblock %}
