body {
    font-family: sans-serif;
    font-size: 14px;
    max-width: 960px;
    margin: 0 auto;
}

.fretboard {
    cursor: default;
    text-align: center;
    font-size: 10px;
}

.fretboard-fret {
    display: inline-block;
    box-sizing: border-box;
}

.fretboard-fret2 {
    background: linear-gradient(to bottom, brown 0%, brown 39%, silver 40%, silver 60%, brown 61%, brown 100%);
    border-left: 2px solid gray;
    padding: 0.5em;
    color: rgba(0, 0, 0, 0.25);
}

.fretboard-fret2.selected .fretboard-fret-text {
    text-align: center;
    display: inline-block;
    background-color: white;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    padding: 0.25em;
    margin: -0.25em;
    border: 1px solid black;
    color: black;
}
