{% set title = "Euclidean rhythm" %}

{% extends "../templates/page.html" %}

{% block head %}
  <style>
    circle.active {
      fill: red;
    }
  </style>
{% endblock %}

{% block main %}
  <svg width="200px" height="200px"></svg>
  <div>
    <label>
      k=<input type="number" name="k" min="0" max="8" value="3" />
    </label>
    <label> n=<input type="number" name="n" min="1" value="8" /> </label>
    <label>
      bpm=<input type="number" name="bpm" min="1" value="120" />
    </label>
    <button>Play</button>
  </div>
{% endblock %}
