<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="<%= require('../favicon.ico') %>">
    <title>Euclidean rhythm - Fides</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <style>
      circle.active {
        fill: red;
      }
    </style>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="index.html"><img src="<%= require('../images/logo.svg') %>" alt="Fides" /></a></li>
        <li><a>Euclidean rhythm</a></li>
        <li>
          <a href="https://github.com/siiptuo/fides" target="_blank">
            <i class="fab fa-github fa-lg"></i>
            GitHub
          </a>
        </li>
      </ul>
    </header>
    <main>
      <svg width="200px" height="200px"></svg>
      <div>
        <label>k=<input type="number" name="k" min="0" max="8" value="3"></label>
        <label>n=<input type="number" name="n" min="1" value="8"></label>
        <label>bpm=<input type="number" name="bpm" min="1" value="120"></label>
        <button>Play</button>
      </div>
    </main>
  </body>
</html>
