<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="<%= require('../images/favicon.ico') %>" />
    <title>Fides</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
  </head>
  <body class="home">
    <img
      src="<%= require('../images/logo.svg') %>"
      alt="Fides"
      width="200px"
      class="logo"
    />
    <div class="cards">
      <div>
        <h2>Music theory</h2>
        <ul>
          <li><a href="guitar-scales.html">Guitar scales</a></li>
          <li><a href="guitar-chords.html">Guitar chords</a></li>
          <li><a href="euclidean-rhythm.html">Euclidean rhythm</a></li>
        </ul>
      </div>
      <div>
        <h2>Computer science</h2>
        <ul>
          <li><a href="fibonacci-lfsr.html">Fibonacci LFSR</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
